Data

In [4]:
import csv
import pandas as pd
import numpy as np
data = pd.read_csv("D:/IMT MInes Ales/S9/Hackathon/2ia-2024-hackathon/left_accs.csv", sep=",", header=None)
data.head(50)

               0    1    2    3
0   1.721419e+09  -36  284 -232
1   1.721419e+09 -224  -92  -60
2   1.721419e+09 -236  -96  -64
3   1.721419e+09 -240  -96  -72
4   1.721419e+09 -252 -108  -80
5   1.721419e+09 -248 -108  -80
6   1.721419e+09 -244 -104  -76
7   1.721419e+09 -236 -100  -64
8   1.721419e+09 -240  -96  -68
9   1.721419e+09 -244 -104  -68
10  1.721419e+09 -248 -104  -68
11  1.721419e+09 -240 -104  -72
12  1.721419e+09 -248 -104  -72
13  1.721419e+09 -248 -100  -68
14  1.721419e+09 -244 -100  -68
15  1.721419e+09 -236  -96  -72
16  1.721419e+09 -240 -100  -72
17  1.721419e+09 -244 -100  -76
18  1.721419e+09 -248 -100  -76
19  1.721419e+09 -248 -100  -68
20  1.721419e+09 -244  -96  -68
21  1.721419e+09 -244  -96  -64
22  1.721419e+09 -244 -100  -68
23  1.721419e+09 -248 -100  -72
24  1.721419e+09 -244 -100  -68
25  1.721419e+09 -236  -96  -68
26  1.721419e+09 -244 -100  -64
27  1.721419e+09 -256 -100  -64
28  1.721419e+09 -256 -100  -64
29  1.721419e+09 -240 -104  -68
30  1.721419e+09 -228 -104  -68
31  1.721419e+09 -240 -104  -64
32  1.721419e+09 -248 -104  -68
33  1.721419e+09 -248 -100  -60
34  1.721419e+09 -244 -100  -64
35  1.721419e+09 -240  -96  -60
36  1.721419e+09 -236 -100  -48
37  1.721419e+09 -244  -88  -52
38  1.721419e+09 -248  -88  -68
39  1.721419e+09 -248 -104  -68
40  1.721419e+09 -248 -100  -68
41  1.721419e+09 -244 -104  -64
42  1.721419e+09 -244 -104  -60
43  1.721419e+09 -244 -100  -60
44  1.721419e+09 -240  -96  -64
45  1.721419e+09 -240 -100  -64
46  1.721419e+09 -244 -100  -64
47  1.721419e+09 -248 -100  -68
48  1.721419e+09 -248 -104  -68
49  1.721419e+09 -248 -100  -72

In [ ]:
import datetime
import pytz

data[0] =  data[0].apply(lambda x : datetime.datetime.fromtimestamp(x, pytz.timezone('Europe/Paris')).strftime('%Y-%m-%d %H:%M:%S'))

In [7]:
data.head(100)

                      0    1    2    3
0   2024-07-19 22:00:05  -36  284 -232
1   2024-07-19 22:00:05 -224  -92  -60
2   2024-07-19 22:00:05 -236  -96  -64
3   2024-07-19 22:00:05 -240  -96  -72
4   2024-07-19 22:00:05 -252 -108  -80
..                  ...  ...  ...  ...
95  2024-07-19 22:00:06 -248 -108  -68
96  2024-07-19 22:00:06 -244 -112  -72
97  2024-07-19 22:00:07 -236 -108  -68
98  2024-07-19 22:00:07 -240 -104  -68
99  2024-07-19 22:00:07 -240 -100  -68

[100 rows x 4 columns]

In [ ]:
import pandas as pd
import numpy as np

# Sample data


# Create DataFrame
df = pd.DataFrame(data)

df['datestamp'] = pd.to_datetime(df[0])

# Calculate displacement
df['x_diff'] = df[1].diff().fillna(0)
df['y_diff'] = df[2].diff().fillna(0)
df['z_diff'] = df[3].diff().fillna(0)
df['displacement'] = np.sqrt(df['x_diff']**2 + df['y_diff']**2 + df['z_diff']**2)


df = df.drop(columns=['x_diff', 'y_diff', 'z_diff', 'datestamp'])

# print(df)
df.set_index(df[0], inplace=True)
# df.to_csv("dataset.csv")

                        0    1    2    3  displacement
0     2024-07-19 22:00:05  -36  284 -232      0.000000
1     2024-07-19 22:00:05 -224  -92  -60    454.207001
2     2024-07-19 22:00:05 -236  -96  -64     13.266499
3     2024-07-19 22:00:05 -240  -96  -72      8.944272
4     2024-07-19 22:00:05 -252 -108  -80     18.761663
...                   ...  ...  ...  ...           ...
1995  2024-07-19 22:00:44 -236 -132  -48     13.266499
1996  2024-07-19 22:00:44 -236 -140  -52      8.944272
1997  2024-07-19 22:00:44 -228 -140  -48      8.944272
1998  2024-07-19 22:00:44 -228 -132  -40     11.313708
1999  2024-07-19 22:00:44 -224 -132  -40      4.000000

[2000 rows x 5 columns]

In [40]:
from matplotlib import pyplot as plt 
df['timestamp'] = pd.to_datetime(df[0])
# plt.plot(data[1], data[0])
new_df = df.sort_values(by=0)
df = df.iloc[50:, :]
# plt.plot(df[0].asfreq(1000), df['displacement'])
# df.set_index(0, inplace=True)
# df

df_resampled = df.resample('100L').mean()
df_resampled["displacement"].plot(alpha=1, style='-')
# data =

C:\Users\Visal Kao\AppData\Local\Temp\ipykernel_28160\3135675443.py:10: FutureWarning: 'L' is deprecated and will be removed in a future version, please use 'ms' instead.
  df_resampled = df.resample('100L').mean()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'