In [28]:
import csv
import pandas as pd 


left = pd.read_csv("dataset_left.csv", index_col="timestamp")
right = pd.read_csv("dataset_right.csv", index_col="timestamp")

# left = left.loc[2:, :]
# left



full_data = pd.merge(left, right, how='outer', left_index=True, right_index=True)
full_data = full_data.iloc[2:, :]
full_data

                     displacement_x  displacement_y
timestamp
2024-07-19 20:00:07      274.070623      256.138172
2024-07-19 20:00:08      271.232968      257.989736
2024-07-19 20:00:09      270.861092      256.616547
2024-07-19 20:00:10      268.845230      255.910090
2024-07-19 20:00:11      266.708969      256.097339
...                             ...             ...
2024-07-27 07:59:57      275.228871      249.422329
2024-07-27 07:59:58      275.030999      250.134003
2024-07-27 07:59:59      274.970182      249.699793
2024-07-27 08:00:00      274.983518      249.809132
2024-07-27 08:00:01      274.734577      249.646839

[647995 rows x 2 columns]

In [11]:
left

                  timestamp  displacement
2       2024-07-19 20:00:07    274.070623
3       2024-07-19 20:00:08    271.232968
4       2024-07-19 20:00:09    270.861092
5       2024-07-19 20:00:10    268.845230
6       2024-07-19 20:00:11    266.708969
...                     ...           ...
647992  2024-07-27 07:59:57    275.228871
647993  2024-07-27 07:59:58    275.030999
647994  2024-07-27 07:59:59    274.970182
647995  2024-07-27 08:00:00    274.983518
647996  2024-07-27 08:00:01    274.734577

[647995 rows x 2 columns]